# Spring Boot / Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/
mvnw
mvnw.cmd
**/build/
**/out/

# Logs
logs/
*.log

# Temporary files
tmp/
temp/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
*.iws
*.iml
*.ipr
.vscode/*
!.vscode/extensions.json

# Frontend build artifacts (if any)
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local